<%- include('partials/header');-%>

<section id="content-wrapper" class="container">
    <div class="row">
        <div class="col">
	<h3 style="text-align:center;">Outing Student Details</h3>
	<form method="POST" action="/given-outing" autocomplete="off">
	    <h5><label for="Name">Enter your Roll No</label></h5>
	<input type="text" name="roll" placeholder="Roll num" /><br><br>
	<button class="btn btn-warning">Done</button>
	</form>

</div>
</div>
</section>

<%- include('partials/footer');-%>